name: Main Pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: flutter pub get
      - name: Run analyzer
        run: flutter analyze
      - name: Run tests
        run: flutter test

  build_android:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: flutter pub get
      - name: Build app bundle
        run: flutter build appbundle --flavor dev
      - name: Upload bundle
        uses: actions/download-artifact@v1
        with:
          name: android-archive
          path: build/app/outputs/bundle/release/app.aab

  build_ios:
    needs: test
    runs-on: macos-latest
    steps:
      - name: Checkout
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v1
      - name: Install dependencies
        run: flutter pub get
      - name: Build app archive
        run: flutter build ios --no-codesign --flavor dev
      - name: Upload bundle
        uses: actions/download-artifact@v1
        with:
          name: ios-archive
          path: build/ios/iphoneos/Runner.app

  notify_slack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: GitHub Actions
          SLACK_ICON: https://raw.githubusercontent.com/github/explore/2c7e603b797535e5ad8b4beb575ab3b7354666e1/topics/actions/actions.png
